:root {
    --background-color: rgb(30, 30, 51);
    --font-color: rgb(227, 227, 227);
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, var, i, li, form, label, footer, header, nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-align: center;
}
    
body{
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    /* animation: color 14s ease infinite; */
}
ol, ul {
	list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/*Title Section*/
.title{
    background-image: url("/imgs/ColdCave.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:25rem;
    text-align: center;
}
.title .title-background{
    background-color: rgba(227, 227, 227, 0.7);
    display: inline-block;
}
.title .title-background h1{
    font-size: 9rem;
}
.title .title-background h2{
    font-size: 3rem;  
}
.main-box{
    padding: 1rem;
    background-color: black;
}
/*Content Section*/

.collection-bg{
    background-color: rgba(124, 124, 124,0.2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;  
    justify-content: center;  
    font-size: 2.3rem;
    margin-top: 1rem;
    padding: 3rem;
    background-color: white;
}
.content-container .image img{
    max-width: 100%;
    height: 32rem;
}

.modal-title-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 2rem;
}
.collection-sample > .collection-title{
    font-size: 4rem;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.modal-title-wrapper .collection-title {
    font-size: 4.5rem;
    text-decoration: underline;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.collection-piece{
    padding: 0 3rem;
}
.collection-piece .collection-item {
    text-align: left;
    overflow-y: auto;
}
.collection-piece .collection-item p{
    display: inline;
    font-family: 'Josefin Slab', serif; ;
}
.collection-piece .collection-item a {
    color: darkslategrey;
}





/*Nav section*/
.nav{
    background-color: var(--dark-purple);
    padding: 1.5rem 0;
    width: 100%;
    align-items: left;
    background-color: white;
}
.nav nav ul{
    display: flex;
    gap: 3rem;
}
.nav nav ul li{
    list-style: none;
}
.nav a{
    color: var(--whiteish);
    text-decoration: none;
    font-size: 2rem;
}
.nav-toggler{
    display: block;
    position: absolute;
    right: 3rem;
    top: 1rem;
    outline: none;
    background-color: transparent;
    border: 1px solid transparent;
}
.nav-toggler span{
    color: var(--whiteish);
    font-size: 2rem;
    cursor: pointer;
    pointer-events: none;
}
.secret {
    display: inline;
}
.secret.locked a{
    pointer-events: none;
    color: inherit;
    text-decoration: inherit;
    cursor: default;
}
.secret.unlocked a{
    pointer-events: initial;
    cursor: pointer;
}


.full-site-modal {
    position: fixed;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 1rem;
    transition: all .035s ease-in;
    visibility: hidden;
    opacity: 0;
    overflow-y: initial;
}
.modal-header {
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.modal-header .fa-times {
    font-size: 1.5rem;
    transition: all 0.5s ease-in;
}

.modal-header .fa-times:hover{
    transition: scale(1.1);
    cursor: pointer;
}

.full-site-modal.is-visible {
    visibility: visible;
    opacity: 1;
    background-color: white;
    transition: 0.4s;
    top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem 2rem;
}

.modal-body{
    display: flex;
    align-items: center;
}

[data-animation="zoomInOut"].full-site-modal {
    transform: scale(0.2);
}

[data-animation="zoomInOut"].full-site-modal.is-visible {
    transform: none;
}

[aria-controls="navbarDropdown"]{
    display: none;
}


/* @keyframes color{
    0%{
        background: #666;
    }
    50%{
        background:var(#777);
    }
    100%{
        background: var(#666);
    }
} */
/* @media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

} */
